<div class="codeblock-container">
  {{with (index .Attributes "path")}}
    <div class="codeblock-item">
      <span class="codeblock-label">File Path: </span>{{ . }}
    </div>
  {{end}}
  <div>
    {{highlight .Inner .Type .Options}}
  </div>
  {{if (index .Attributes "showLang")}}
  <div class="codeblock-item">
    <span class="codeblock-label">Language: </span>{{ .Type }}
  </div>
  {{end}}
  {{with (index .Attributes "comments")}}
  <div class="codeblock-item">
    <span class="codeblock-label">Comments: </span>{{ . }}
  </div>
  {{end}}
</div>