.documentation-title {
    margin: 50px auto 15px auto;
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
}

#documentation--body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 20px;
    max-width: 100%;
    padding: 0 10px;

    >div {
        max-width: 100%;
        border-radius: 8px;
        background-color: rgba(255, 255, 255, 0.274);
        padding: 0 20px 30px 20px;
        max-width: 100%;
    }
}

#documentation--content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    order: 2;
    margin: 0 auto;
    max-width: 100%;

    a {
        color: black;

        &:hover, &:visited, &:active {
            color: black;
        }
    }

    >h1 {
        font-size: 25px;
        margin-top: 20px;
    }


    #documentation--meta {
        order: 1;
    }

    img {
        max-width: 100%;
        border-radius: 10px;
        border: 1px solid rgba(0, 0, 0, 0.5);
    }

    .highlight pre {
        padding: 15px;
        font-family: 'Courier New', Courier, monospace;
    }

    code span {
        font-family: 'Courier New', Courier, monospace;
    }

    blockquote {
        border-left: solid 3px rgb(130, 130, 158);
        padding-left: 8px;
    }

    hr {
        border-top: 1px solid rgb(0, 0, 78);
        opacity: 1;
    }

    pre {
        width: 100%;
        float: left;
        min-width: 100%;
        box-sizing: border-box;
        overflow: auto;
        display: flex;
        flex-direction: column;
        color: #f8f8f2;
        padding: 10px;
        font-family: 'Courier New', Courier, monospace;
    }

    td>code, li>code, p>code {
        background-color: rgba(0, 0, 0, 0.15);
        font-weight: bold;
        font-size: 14px;
        border-radius: 5px;
        padding: 2px 4px;
        margin: 3px;
        font-family: 'Courier New', Courier, monospace;
    }

    pre code, .table-responsive {
        max-width: 100%;
        overflow: auto;

        &::-webkit-scrollbar {
            width: 6px;
        }

        &::-webkit-scrollbar-track {
            background: #272822;
        }

        &::-webkit-scrollbar-thumb {
            background-color: rgb(77, 77, 77);
            border-radius: 20px;
            border: 3px solid #272822;
        }
    }

    table {
        border-collapse: collapse;
        color: black;
        border-radius: 10px;
    }

    table, th, td {
        border: 1px solid rgba(0, 0, 0, 0.3);
    }

    th, td {
        padding: 5px;
    }

    h1, h2, h3, h4, h5, h6 {
        font-weight: 800;
        margin: 0.5em 0;
    }

    p:has(img) {
        display: flex;
        justify-content: center;

        img {
            border-radius: 10px;
        }
    }
}

@media (min-width: 768px) {
    .documentation-title {
        font-size: 75px;
    }

    #documentation--content {
        >h1 {
            font-size: 55px;
        }
    }
}


@media (min-width: 992px) {
    #documentation--body {
        flex-direction: row;
        gap: 5%;
    }

    #documentation--content {
        width: auto;
        max-width: 800px;
        order: 1;
    }

    #documentation--meta {
        width: 25%;
        order: 2;
    }
}