@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;700;800&display=swap');

html {
    background-color: #fff97f;
    background-image: linear-gradient(124deg, #fff97f 2%, #FFE53B 17%, #FF2525 100%);
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Manrope', sans-serif;
    padding: 10px 30px;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    background-color: transparent;
    margin: 0;
    max-width: 100%;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
}

#header-logo {
    height: 32px;
    width: auto;
}

#header-links {
    display: flex;
    gap: 15px;

    a {
        text-decoration: none;
        color: black;
    }
}

#hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;

    #hero-label {
        margin-top: 50px;
        background-color: rgba(0, 0, 0, 0.05);
        border: 1px solid black;
        padding: 4px 10px;
        border-radius: 25px;
        font-weight: bolder;
        flex-grow: 1;
    }

    #hero-text {
        text-align: center;
        font-weight: 800;
        font-size: 75px;
        margin: 0;
        width: 100%;
    }

    #hero-description {
        text-align: center;
        font-size: 20px;
        color: rgb(31, 31, 31);
        max-width: 800px;
        margin-bottom: 60px;
    }

    #hero-content {
        display: flex;
        flex-direction: column;
        max-width: 700px;
        width: 100%;
    }
}

#hero-content {
    pre code,
    pre {
        max-width: 100%;
        overflow: auto;

        &::-webkit-scrollbar {
            width: 4px;
        }

        &::-webkit-scrollbar-track {
            background: #272822;
        }

        &::-webkit-scrollbar-thumb {
            background-color: rgb(77, 77, 77);
            border-radius: 20px;
            border: 3px solid #272822;
        }
    }
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 65px;

    .section-subtitle {
        font-weight: bolder;
        margin: 0;
        text-transform: uppercase;
        color: rgba(0, 0, 0, 0.699);
        flex-grow: 1;
    }

    .section-title {
        font-weight: bolder;
        font-size: 35px;
        margin: 0;
    }

    .section-description {
        font-size: 18px;
        max-width: 600px;
        text-align: center;
    }
}

.cba-example {
    border: 1px solid rgba(0, 0, 0, 0.15);
    background-color: rgba(0, 0, 0, 0.10);
    padding: 5px 20px;
    margin-bottom: 50px;
    border-radius: 10px;
}

.cba-example-title {
    font-weight: bolder;
    margin-bottom: 8px;
    font-size: 18px;
}

.cba-example-label {
    background-color: rgba(0, 0, 0, 0.10);
    font-size: 14px;
    border-radius: 5px;
    padding: 2px 4px;
    margin-left: 10px;
}

.copyright {
    margin: 60px auto 20px auto;
    text-align: center;
}

#readme-screenshot {
    content: url("/cba/images/sample.png");
}

@media (max-width: 350px) {
    body {
        padding: 10px 10px;
    }

    #hero {
        #hero-text {
            margin-top: 10px;
            font-size: 35px;
        }
    }

    #header-links {
        gap: 7px;

        a:nth-child(2) {
            font-size: 0;
        }

        a:nth-child(2):after {
            content: 'Docs';
            font-size: 16px;
        }
    }
}

@media (min-width: 351px) and (max-width: 576px) {
    body {
        padding: 10px 20px;
    }

    #hero {
        #hero-text {
            font-size: 50px;
        }
    }

    #header-links {
        gap: 10px;
    }
}