.codeblock-container {
    background-color: #21221c;
    color: #fff;
    border-radius: 10px;
    margin: 1em 0;
    padding: .3em 0;
}

.codeblock-label {
    background-color: #63624f;
    font-weight: bolder;
    color: #fff;
    padding: 3px 5px;
    margin-right: 6px;
    border-radius: 5px;
}

.codeblock-item {
    margin: 13px 10px;
}

.codeblock-body {
    margin-bottom: .5em;
}

.highlight pre {
    margin: 0;
}